@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Oswald:wght@200..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@300;400;700&family=Lobster&family=New+Amsterdam&family=Oleo+Script:wght@400;700&family=Oswald:wght@200..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@300;400;700&family=Lobster&family=New+Amsterdam&family=Oleo+Script:wght@400;700&family=Oswald:wght@200..700&family=Podkova:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
main{
    width: 100%;
    overflow-x: hidden;
}
#header{
    display: flex; 
    height: 150px;       
    width: 100%;
    /*border-bottom: 5px double #694F8E;*/   
   /* box-shadow: 0 2px 3px 0px black;   
    margin-bottom: 4px;*/
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    position: relative;
      
}
#header-img{             
    width: 300px;
    height: 145px;
    margin-left: 300px;
       
}
#nav_bar{
    width: 100%;
    height: 100%;
    
}
.nav_lista{
    display: flex;
    flex-direction: row;
    justify-content: right;  
    gap: 50px;
    margin-right: 20px;
    margin-top: 50px;
    list-style: none;
    font-size: larger;
    font-family: "Oswald", sans-serif;
    font-weight: 350;
    
}
a{
    text-decoration: none;    
    
}
#introduccion{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 310px;    
    background-image: url(/img/imagen\ fondo.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    
    
}


h1{
    font-size: 3.0rem;    
    font-family: "Courgette", cursive;
    font-weight: lighter;
    color: black;
        
}
h2{
    font-size: 1.5rem;    
    font-family: "Courgette", cursive;
    font-weight: lighter;      
    color: black; 
    position:relative;
    left: 100px;        
}
.parrafo_titulo{
font-size: 1.2rem;
font-family: "Podkova", serif;
display: flex;
flex-direction: column;
margin-top: 20px;
}
#email{    
    font-family: "Podkova", serif;
    font-size: 15px;
    background-color: transparent;    
    width: 300px;
    height: 30px;
    border: 1px solid black;
    border-radius: 30px 0 0 30px;
    text-align: center;
    margin-top: 10px;
    
    
}
#submit{
    font-family: "Podkova", serif;
    font-size: 15px;
    width: 100px;
    height: 30px;
    border-radius: 0 30px 30px 0;
    position:relative;
    right: 5px;  
    color: black;
    cursor: pointer;       
    background-color: #e8e0f3;
    border: 1px solid black;

}


#submit:hover{
    background-color: #d4bff1;
    color: white;
}
#beneficios{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    
    /*text-align: center;
    margin-top: 70px;
    width: 100%;
    width: 700px;
    position: relative;
    left: 700px;*/
}

h3{    
    font-size: 2rem;    
    font-family: "Courgette", cursive;
    font-weight: lighter;
    color: black; 
    
    
}
h4{
    font-family: "Courgette", cursive;
    font-size: 1.2rem;
    font-weight: lighter;    
}
.parrafo_lista{
    font-family: "Podkova", serif;
    font-size: 1.2rem;
    letter-spacing: 2px;

}
.lista_beneficio{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;             
    width: 500px;
      
}


.video{
    margin-top: 100px;
    text-align: center;    
    
}


.promociones_titulo{
    text-align: center;
    width: 100%;
    height: 170px;
    margin-top: 100px;
    margin-bottom: 150px;
    border: 1px solid black;
    align-content: center;
    letter-spacing: 5px;
    color: white;
    background-color: black;
    font-size: 2rem;   


}

.promociones_wraper{    
    display: flex;   
    height: 1500px;
    width: 100%;
    flex-direction: column;    
    flex-wrap: wrap;        
    align-content: center;
    margin-top: 100px;    
    gap: 20px;
    text-align: center;
       
}
.promociones_borde{
    border: 1px solid lightgray;
    margin-bottom: 50px;    
    width: 250px;
    height: 300px;
    /*width: 15%;
    height: 41%;*/
    border-radius: 10px;    
    background-color: #F7EFE5;
    box-shadow: 0 1px 5px 0px;
        
}

.imagen_promocion{
    width: 90%; 
    height: 60%;
    border-radius: 10px;
    display: flex;
    position: relative;
    left: 11px;
    bottom: 30px;
            
}
.promociones_borde_titulo{
position: relative;
bottom: 20px;

}
.promociones_borde_parrafo{
    font-family: "Podkova", serif;  
    font-size: 1rem;
}
button{    
    width: 150px;
    height: 30px;
    border-radius: 30px;
    background-color: #694F8E;
    color: white;
    border: 0;
    box-shadow: 0px 3px 0px  0px #4f2786;
    margin-top: 4px;
    cursor: pointer;
    transition: 0.1s;
}
button:active{
    transform: translateX(3px);
    box-shadow: 0px 2px 0px  0px #4f2786;
}
    

.footer{
  width: 100%;
  height: 485px;
  /*background-color: #F3D0D7;*/
  background: url(/img/footer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
 
  
}  
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content:space-around;      
            
}
.categoria_lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: "Podkova", serif;
    font-size: 1rem;    
    margin-top: 20px;
       
}
h5{
    margin-top: 50px;
    font-family: "Poetsen One", sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    color:rgb(248, 70, 100) ;
}
.parrafo_color{
    color:rgb(248, 70, 100) ;
}
#contacto{    
    font-family: "Podkova", serif;
    font-size: 1rem;    
    
    
}
.al_lado{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
        
}
.unir{  
    position: relative;
    right: -15px;
    color: rgb(248, 70, 100);
}
.redes_wrap{     
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
}
i{
    color: rgb(248, 70, 100);
    gap: 20px;
    font-size: 1.2rem;    
    
}
.mapa{
    border: 1px solid black;

}

.Copyright p{
    text-align: center;
    position: relative;    
    bottom: -100px;
    color: rgb(248, 70, 100);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

@media (max-width: 1023px) {
    #header-img{
        margin:0
    }

}
@media (max-width: 840px){
    .promociones_wraper{
        display: flex;
        height: 100%;
        flex-direction: column;
        flex: wrap;
        align-items: flex-start;
       
    }

}
@media (max-width: 719px){
    .nav_lista{
        margin-right: 0;
        gap: 10px;
        margin-right: 2px;

    }
}

@media (max-width: 586px){        
        .nav_lista{        
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }
    .footer{
        height: 800px;
    }
    .wrapper{
    display: flex;
    flex-direction: column;
    }
}

@media (max-width: 511px){
    h2{
        position: unset;
    }
   .lista_beneficio{
    margin-left: 35px;
    width: 80%;
   }
} 
@media (max-width: 435px){
    #header{
    display: flex;
    position: unset;
    height: 175px;  
    margin: unset;

    }
    #header-img{ 
        height: 170px;
     
}
 }